= link_to shop_comment_comment_favorite_path(comment, shop_id: comment.shop_id, comment_id: comment.id), method: :delete, remote: true, id: 'normal' do
  i class="fas fa-thumbs-up fa-blue"
end
= comment.comment_favorite_users.count
