@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* main */

h2 {
  font-weight: bold;
}

.restaurant-info-table-title {
  margin: 15px 0;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #13131e;
  font-weight: bold;
  padding-left: 10px;
  border-left: solid 3px #fa0;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: black;
  font-size: 1.5rem;
}

.c-table.c-table--form {
    border-collapse: separate;
    border-top: 1px solid #d6ceb4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d6ceb4;
}


.c-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

.c-table tr {
    vertical-align: top;
}

.c-table.c-table--form tbody tr th {
    border-top: 1px solid #fff;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-bottom: 1px solid #d6ceb4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 206, 180);
    background-color: #f5f5f5;
}

.restaurant-info-table__table>tbody>tr>th {
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: #463f2d;
    vertical-align: top;
    width: 14rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

th {
    text-align: left;
}

.c-table tbody tr td {
    border-bottom: 1px solid #d6ceb4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(214, 206, 180);
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

/* avatar */

.circle-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* footer */

footer {
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid $gray-300;
  color: $gray-500;
  a {
    color: $gray-700;
    &:hover {
      color: $gray-900;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
